.hero-section {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(120, 217, 172); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  text-align: center;
  position: relative;
}

.hero-section .highlight {
  color: #ffc107; 
  font-weight: bold;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Görsellerin Konumlandırılması */
.hero-images {
  position: relative;
  height: 600px; /* Görseller arasındaki mesafeyi artırdık */
  width: 100%;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  transition: all 0.3s ease;
}

/* 1. Resim */
.image-1 {
  top: -60px;
  left: 5%;
  width: 45%; /* Görselin boyutunu küçülttük */
}

/* 2. Resim */
.image-2 {
  top: -60px;
  right: 5%;
  width: 45%; /* Görselin boyutunu küçülttük */
}

/* 3. Resim */
.image-3 {
  top: 180px; /* 1. resmin biraz altına kaydırdık */
  left: 25%;
  width: 30%; /* Görselin boyutunu küçülttük */
}

/* 4. Resim */
.image-4 {
  top: 250px; /* 3. resmin biraz altına kaydırdık */
  left: 50%;
  width: 20%;
  transform: translateX(-50%); /* Ortalanması için */
}

/* 5. Resim */
.image-5 {
  top: 180px; /* 3. resmin hizasında olacak */
  right: 25%;
  width: 30%; /* Görselin boyutunu küçülttük */
}

.image-4-container {
  position: relative;
  text-align: center;
}

.free-trial-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #f1c40f;
  color: #2c3e50;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.free-trial-btn:hover {
  background-color: #f39c12;
  color: white;
}

/* Responsive Düzenlemeler */
@media (max-width: 768px) {
  .hero-image {
    top: 10px;
    left: 0;
    width: 60%;
  }

  .image-2, .image-4 {
    left: 0;
  }
}
