.hero-section {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #1453b3, #f39c12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-description {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
  max-width: 2xl;
}

.hero-images {
  position: relative;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  position: absolute;
  transition: transform 0.3s ease;
}

.image-1 {
  top: 1%;
  left: 1%;
  width: 20%;
}

.image-2 {
  top: 1%;
  right: 1%;
  width: 20%;
}

.image-3 {
  top: 300px;
  left: 10%; /* 3. görseli sola çekiyoruz */
  width: 20%;
}

.image-4 {
  top: 350px; /* Butonun hemen altına yerleştiriyoruz */
  left: 50%; /* Ortalamak için */
  transform: translateX(-50%); /* Yatayda tam ortada */
  width: 20%;
}

.image-5 {
  top: 300px;
  right: 10%; /* 5. görseli sağa çekiyoruz */
  width: 20%;
}

.free-trial-btn {
  padding: 15px 40px;
  background: linear-gradient(135deg, #1453b3, #f39c12);
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  outline: none;
  transition: all 0.3s ease-in-out;
}

.free-trial-btn:hover {
  background: linear-gradient(135deg, #351eb8, #0c71a0);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.free-trial-btn:active {
  transform: scale(0.95);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Responsive Düzenlemeler */
@media (max-width: 768px) {
  .hero-images {
    flex-direction: column;
    align-items: center;
  }

  .hero-image {
    width: 50%;
    top: initial;
    left: initial;
  }

  .image-2, .image-4 {
    left: initial;
  }
}
